import React from 'react'
import { setup } from '@/testUtils'
import { use{{pascalCase name}} } from './use{{pascalCase name}}'

const Component = () => {
  const { state, handleClick } = use{{pascalCase name}}({ id: 'test' })

  return (
    <div>
      <p>{state}</p>
      <button type='button' onClick={handleClick}>button</button>
    </div>
  )
}

test('sample test', async () => {
  const { user, getByRole, getByText } = setup(<Component />)
  expect(getByText('test').innerHTML).toBe('test')
  await user.click(getByRole('button', { name: 'button' }))
  expect(getByText('click').innerHTML).toBe('click')
})