import React, { useState } from 'react'
import { {{camelCase name}} } from './{{pascalCase name}}.css'

type Props = {
  /** 名前 */
  name: string
}

export const {{pascalCase name}}: React.FC<Props> = ({
  name
}) => {
  const [state, setState] = useState('')
  const handleClick = () => {
    setState('click')
  }

  return (
    <div className={ {{camelCase name}} }>
      <p>{name}</p>
      <p>{state}</p>
      <button type='button' onClick={handleClick}>button</button>
    </div>
  )
}
